{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<div class="center-screen">
    <marquee bgcolor="#ffd700"
             style="color: #fff; font-size: 20px; font-weight: bolder; line-height: 150%; text-shadow: #000000 0px 1px 1px;">
        <h2>Десяток товаров по низким ценам Скидки каждый день По промокоду ПАШАМОЛОДЕЦ скидка 50 рублей Бесплатная
            доставка в Диалог </h2></marquee>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in sp %}
    <div class="col">
        <div class="card h-100">
            {%if item[7]%}
            <img src="{{item[6]}}" class="card-img-top" alt="{{item[6]}}">
            {%else%}
            <img src="{{item[6][0]}}" class="card-img-top" alt="{{item[6][0]}}">
            {%endif%}
            <div class="card-body">
                <div style="color: red;">{{item[3]}}%</div>
                <h2 class="card-title">{{item[1]}}</h2>
                <p class="card-text">{{item[5]}}</p>
            </div>
            <div class="card__bottom">
                    <div class="card__prices">
                      <div class="card__price card__price--discount">{{(item[2] * (100 - item[3])) / 100}}</div>
                      <div class="card__price card__price--common">{{item[2]}}</div>
                    </div>
            </div>
            <div class="card-footer">

                <div class="d-grid gap-2 col-6 mx-auto">
                    {% if user.is_authenticated %}
                    {% if not item[0] in fav_list %}
                    <button class="btn btn-primary" type="button">
                        <a style="color: white;" href="/fav/add/{{item[0]}}" class="btn">Избранное</a>
                    </button>
                    {%else%}
                    <button class="btn btn-success" type="button">
                        <a style="color: white;" href="/fav/delete/{{item[0]}}" class="btn">Избранное</a>
                    </button>
                    {% endif %}
                    {%if not item[0] in cart_list%}
                    <button class="btn btn-primary" type="button">
                        <a style="color: white;" href="/cart/add/{{item[0]}}" class="btn">В корзину</a>
                    </button>
                    {%else%}
                    <h5 class="card-title">Уже в корзине</h5>
                    {%endif%}
                    {%else%}
                    <button class="btn btn-primary" type="button">
                        <a style="color: white;" href="/login" class="btn">Избранное</a>
                    </button>
                    <button class="btn btn-primary" type="button">
                        <a style="color: white;" href="/login" class="btn">В корзину</a>
                    </button>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}