{% extends 'base.html' %} {% block title %}Профиль{% endblock %}
{% block content %}
<style>
.avatar {
  width: 300px;
  min-height: 200px;
}
</style>
<div class="center-screen">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="text-center"> Профиль </h2>
                <form action="" method="POST" enctype="multipart/form-data">
                    <p>Имя: {{ current_user.name }}</p>
                    <p>Фамилия: {{ current_user.surname }}</p>
                    <p>Email: {{ current_user.email }}</p>
                    {% if image %}
                        <img src="/static/avatars/{{ image }}" class="avatar" style="text-align: center;" alt="Фото профиля">
                    {% else %}
                        <p>Фото профиля отсутствует</p>
                    {% endif %}
                    </br>
                    </br>
                    <a href="/edit_profile" class="btn btn-primary">Редактировать профиль</a>
                    <a href="/" class="btn btn-primary">Назад</a>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{%endblock%}
